@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 2vh 15vw;
  overflow: auto;
  border: 1px solid steelblue;
  padding: 5vh 5vw;
  border-radius: 5px;
}

